{{ template "layout/header.html" .}}
<body>
    {{ template "layout/navbar.html" . }}
    <div class="container">
        <h1>文章列表<a href="/topic/add" class="btn btn-info pull-right">添加文章</a></h1>

        <table class="table table-triped">
            <thead>
            <tr>
                <th>id</th>
                <th>文章名称</th>
                <th>最后更新</th>
                <th>浏览</th>
                <th>回复数</th>
            </tr>
            </thead>
            <tbody>
                {{ range .Topics}}
                    <tr onclick="location.href='/topic/view/{{ .Id }}.html';">
                        <td>{{ .Id }}</td>
                        <td>{{ .Title }}</td>
                        <td>{{ .Updated }}</td>
                        <td>{{ .Views }}</td>
                        <td>{{ .ReplyConut }}</td>
                        <td>
                            <a href="/topic/delete?tid={{ .Id }}">删除</a>
                        </td>
                    </tr>
                {{end}}
            </tbody>
        </table>
    </div>

    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
</body>
</html>